.review{
    color:  whitesmoke;
    width: 160px;
    height: 35px;
    background-color: rgb(204, 60, 156);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}
.review:hover{
    background-color: rgb(182, 31, 132);
    color: white;
}
.total{
    color: rgb(182, 31, 132);
}